/* style.css */
body {
    background-color: #121212;
    color: #e0e0e0;
  }
  
  a {
    color: #bb86fc;
  }
  
  /* Links when hovered */
  a:hover {
    color: #3700b3;
  }
  
  header {
    background-color: #1f1f1f;
  }
  
  footer {
    background-color: #1f1f1f;
  }
  
  /* Add more custom styles as needed */
  